.Input > div::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 16px;
  margin-bottom: -4px;
  animation-name: inputText;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.Input #input-disable {
  opacity: 0;
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
}

@keyframes inputText {
  from { background-color: white; }
  to { background-color: none; }
}