.Input > div::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 16px;
  margin-bottom: -4px;
}

.Input.active > div::after {
  animation-name: inputText;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.Input #input-disable {
  width: 100vw;
  position: fixed;
  left:-4px;
  bottom: 0;
  opacity: 0;
}

@keyframes inputText {
  from { background-color: white; }
  to { background-color: none; }
}

/* Light theme */
.light .Input > div::after {
  animation-name: inputTextLightTheme;
}

@keyframes inputTextLightTheme {
  from { background-color: #222222; }
  to { background-color: none; }
}