.Command {
  margin-top: 2px;
}

.Command .username,
.Command .root,
.Command .directory,
.Command .type {
  font-weight: bold;
}

.Command .username {
  color: #88e234;
}

.Command .directory {
  color: #719ece;
}

.Command .type {
  margin-right: .4rem;
}

.Command .output {
  white-space: pre-wrap;
  margin: 0 -4px;
  padding: 4px;
}

.Command .output:nth-of-type(even) {
  background-color: rgba(255,255,255,0.05);
}

.Command .output .command {
  display:grid;
  grid-template-columns: 240px 1fr;
  grid-template-areas: "name description" 
                       "params    params";
}

.Command .output .command .params {
  display:flex;
  flex-wrap: wrap;
}

.Command .output .command .name {
  grid-area: name;
  width: 240px;
  height: 18px;
  padding-left: 8px;
}

.Command .output .command .description {
  grid-area: description;
  width: calc(100% - 240px);
}

.Command .output .command .params {
  grid-area: params;
}

/* .Command .output .param-name:before,
.Command .output .param-name:before {
  content: '\251C';
  margin-right: 8px;
}

.Command .output :nth-last-of-type(n+1) .param-name:before {
  content: '\2514';
} */

.Command h3.inline {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.Command a {
  color: lightblue;
  text-decoration: none;
  transition: color .5s;
  font-weight: normal;
}

.Command a:hover {
  color: lightcyan;
}

.Command hr {
  height: 2px;
  background-color: rgba(255,255,255,0.25);
  border: none;
  margin: 20px 0;
}

.Command .social img {
  width: 12px;
}

@media screen and (max-width: 500px) {
  .Command .output .command {
    grid-template-columns: 1fr 1fr;
  }
  
  .Command .output .command .name,
  .Command .output .command .description {
    width: 100%;
  }
}

/* Light theme */
.light .Command .username {
  color: #201abe;
}

.light .Command a {
  color: #201abe;
}

.light .Command a:hover {
  color: #908cf3;
}

.light .Command hr {
  color: #201abe;
  background-color: rgba(0,0,0,0.25);
}

.light .Command .output:nth-of-type(even) {
  background-color: rgba(0,0,0,0.05);
}

/* Dark theme */
.dark .Command .username {
  color: #589bbb;
}