.Command {
  margin-top: 2px;
}

.Command .username,
.Command .root,
.Command .directory,
.Command .type {
  font-weight: bold;
}

.Command .username {
  color: #88e234;
}

.Command .directory {
  color: #719ece;
}

.Command .type {
  margin-right: .4rem;
}

.Command .output {
  white-space: pre-wrap;
}

.Command h3.inline {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.Command a {
  color: lightblue;
  text-decoration: none;
  transition: color .5s;
  font-weight: normal;
}

.Command a:hover {
  color: lightcyan;
}

.Command hr {
  height: 2px;
  background-color: rgba(255,255,255,0.25);
  border: none;
  margin: 20px 0;
}

.Command .social img {
  width: 12px;
}

/* Light theme */
.light .Command .username {
  color: #201abe;
}

.light .Command a {
  color: #201abe;
}

.light .Command a:hover {
  color: #908cf3;
}

.light .Command hr {
  color: #201abe;
  background-color: rgba(0,0,0,0.25);
}

/* Dark theme */
.dark .Command .username {
  color: #589bbb;
}