.BlueScreen {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: blue;
  min-height: 100vh;
  color: white;
  padding: calc(100vh / 8);
  font-family: "Ubuntu Mono", monospace;
}

.BlueScreen h1 {
  font-size: calc(100vh / 8);
  margin: 0;
  margin-bottom: 4rem;
}

.BlueScreen p {
  font-size: calc(100vh / 30);
}

.BlueScreen p.info {
  margin-top: 8rem;
  font-size: calc(100vh / 50);
}

.BlueScreen img {
  float:left;
  margin-right: 20px;
}

@media screen and (max-width:800px) {
  .BlueScreen {
    padding: calc(100vh / 16);
  }
  
  .BlueScreen img {
    float:none;
    width: 60%;
  }

  .BlueScreen p.info {
    margin-top: 4rem;
  }
} 