@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body, .App {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
}

body.ubuntu {
  background-color: #2d0922;
  color: #ffffff;
}

body.dark {
  background-color: #222222;
  color: #ffffff;
}

body.light {
  background-color: #ffffff;
  color: #555555;
}

* {
  box-sizing: border-box;
}

.Terminal {
  font-size: 16px;
  padding: 0.4rem;
  font-family: "Ubuntu Mono", monospace;
}