.Initial {
  display: flex;
}

.Initial * {
  text-decoration: none;
}

.Initial .normal,
.Initial .terminal {
  width: 50vw;
  height: 100vh;
  transition: width .5s;
  cursor:pointer;
  overflow: hidden;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
}

.Initial .normal {
  background-color:#ffffff;
  color: #222222;
}

.Initial .terminal {
  background-color: #222222;
  color:#ffffff;
}

.Initial .normal:hover,
.Initial .terminal:hover {
  width: 75vw;
}

.Initial .normal > div,
.Initial .terminal > div {
  text-align: center;
}

.Initial .terminal > div {
  font-family: "Ubuntu Monospace", monospace;
}
.Initial .terminal > div .Logo {
  font-size: 12px;
}

.Initial .normal h2,
.Initial .terminal h2{
  margin:0;
  top: 10vh;
  padding: 28px;
  font-size: 40px;
  position: absolute;
  display: block;
  width: 100vw;
  text-align: center;
}

.Initial .normal h2 {
  left: 0
}

.Initial .terminal h2 {
  right: 0
}

@media screen and (max-width: 850px) {
  .Initial {
    flex-direction: column;
    height: 100vh;
  }

  .Initial .normal,
  .Initial .terminal {
    width: 100vw;
    height: 50vh;
    transition: height .5s;
    transition-timing-function: cubic-bezier(1, 1, 1, 1);
  }

  .Initial .normal:hover,
  .Initial .terminal:hover {
    width: 100vw;
    height: 75vh;
  }

  .Initial .normal h2,
  .Initial .terminal h2 {
    margin:0;
    text-align: center;
  }
  
  .Initial .normal h2 {
    top: calc(50vh - 54px)
  }

  .Initial .terminal h2 {
    top: -54px;
    transition: top .5s;
    transition-timing-function: cubic-bezier(1, 1, 1, 1);
  }

  .Initial .normal:hover  + .terminal h2 {
    top: calc(-54px * 3);
  }
  
  .Initial .terminal:hover h2 {
    top: calc(54px - 12px);
  }
}

@media screen and (max-width: 420px) {
  .Initial .normal h2 {
    top: calc(50vh - 52px)
  }

  .Initial .terminal h2 {
    top: -52px;
  }

  .Initial .normal:hover  + .terminal h2 {
    top: calc(-52px * 3);
  }
  
  .Initial .terminal:hover h2 {
    top: calc(52px - 8px);
  }

  .Initial .normal h2,
  .Initial .terminal h2{
    padding: 36px;
    font-size: 24px;
  }
}