.Boom {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: blue;
  min-height: 100vh;
  color: white;
  padding: calc(100vh / 8);
  font-family:'Ubuntu Mono';
}

.Boom h1 {
  font-size: calc(100vh / 8);
  margin: 0;
  margin-bottom: 4rem;
}

.Boom p {
  font-size: calc(100vh / 30);
}

.Boom p.info {
  margin-top: 8rem;
  font-size: calc(100vh / 50);
}

.Boom img {
  float:left;
  margin-right: 20px;
}

@media screen and (max-width:800px) {
  .Boom {
    padding: calc(100vh / 16);
  }
  
  .Boom img {
    float:none;
    width: 60%;
  }

  .Boom p.info {
    margin-top: 4rem;
  }
} 